*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #202020;
  color: aliceblue;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 30px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 600;
}

.navbar a{
  font-size: 15px;
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
  margin-left: 30px;
}

.navbar a:hover, .navbar a.active {
  color: #ffdf6c;
}
  
.hero{
  height: 50;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.hero-content{
  
  max-width: 600px;
}

.hero-content h1{
  font-size: 54px;
  font-weight: 600;
  line-height: 1.4;
}

.hero-content h3{
  font-size: 23px;
  font-weight: 600;
  color: #ffdf6c;
}

.hero-content p{
  font-size: 17px;
  margin: 20px 0 40px;    
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
}
  
.table td, .table th {
  border: 1px solid #f3a6a6;
  padding: 8px;
}
  
.table tr:nth-child(even){background-color: #1f1919;}
  
.table tr:hover {background-color: #f06666;
}
  
.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white
}
  
.img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 632px;

}
  
.img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    transform: scaleX(-1);
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
